[flake8]
exclude = .idea,.vscode,.git,pg_data,venv,env,node_modules
show-source = True
max-line-length = 100
application-import-names = connect_ext_ppr
import-order-style = smarkets
max-cognitive-complexity = 15
ignore = B008,FI1,I100,W503
