/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/stylus-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./ui/src/components/GridItem.vue?vue&type=style&index=0&id=292fb55a&lang=stylus& ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.item-row {
  display: grid;
  grid-template-columns: var(--grid-item-first-col, 60px) 1fr;
  grid-column-gap: 16px;
  align-items: start;
}
.item-row + .item-row {
  margin-top: var(--grid-item-row-offset, 12px);
}
.item-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #212121;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/stylus-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./ui/src/pages/DeploymentDetails.vue?vue&type=style&index=0&id=2ceadcfa&lang=stylus& ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.deployment-details .info-container {
  display: grid;
  grid-template-columns: minmax(auto, 376px) minmax(auto, 376px) minmax(auto, 376px);
  grid-column-gap: 48px;
  margin-bottom: 32px;
}

