/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/stylus-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./ui/src/components/GridItem.vue?vue&type=style&index=0&id=292fb55a&lang=stylus& ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.item-row {
  display: grid;
  grid-template-columns: var(--grid-item-first-col, 60px) 1fr;
  grid-column-gap: 16px;
  align-items: start;
}
.item-row + .item-row {
  margin-top: var(--grid-item-row-offset, 12px);
}
.item-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #212121;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/stylus-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./ui/src/components/cAlert.vue?vue&type=style&index=0&id=1ef58eba&lang=stylus& ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.c-alert {
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  min-height: 64px;
  min-width: 240px;
  max-width: 600px;
  padding: 16px;
  border-radius: 2px;
  background-color: rgba(189,189,189,0.15);
  color: #bdbdbd;
}
.c-alert_align-top {
  align-items: flex-start;
}
.c-alert_dense {
  min-height: 56px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.c-alert_fluid {
  display: flex;
  max-width: none;
}
.c-alert_grid {
  display: grid;
  grid-template-columns: 32px auto;
  grid-template-rows: auto;
  grid-template-areas: "icon text" "x actions";
}
.c-alert_error {
  background-color: rgba(255,106,106,0.2);
  color: #ff6a6a;
}
.c-alert_info {
  background-color: rgba(var(--theme_accent_rgb),0.15);
  color: var(--theme_accent);
}
.c-alert_success {
  background-color: rgba(11,176,113,0.15);
  color: #0bb071;
}
.c-alert_warning {
  background-color: rgba(242,201,76,0.15);
  color: #f2c94c;
}
.c-alert__icon {
  flex: 0 0 auto;
  margin-right: 12px;
  display: flex;
}
.c-alert__icon > .c-icon,
.c-alert__icon > .v-icon {
  color: currentColor;
}
.c-alert_align-top .c-alert__icon {
  margin-top: -2px;
}
.c-alert_grid .c-alert__icon {
  grid-area: icon;
}
.c-alert__text {
  flex: 1 1 auto;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #212121;
}
.c-alert__text:first-letter {
  text-transform: uppercase;
}
.c-alert_grid .c-alert__text {
  grid-area: text;
}
.c-alert__actions {
  flex: 0 0 auto;
  margin-right: -4px;
  margin-left: 24px;
}
.c-alert__actions button {
  margin: -2px 0;
}
.c-alert__actions button + .c-alert__actions button {
  margin-left: 16px;
}
.c-alert_dense .c-alert__actions {
  margin-right: -8px;
}
.c-alert_dense .c-alert__actions button {
  margin-top: -4px;
  margin-bottom: -4px;
}
.c-alert_grid .c-alert__actions {
  grid-area: actions;
  margin-left: 0;
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/stylus-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./ui/src/components/cDialog.vue?vue&type=style&index=0&id=0548f84c&lang=stylus& ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.overlay-enter-active,
.overlay-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.overlay-enter,
.overlay-leave-to {
  opacity: 0;
}
.window-enter-active,
.window-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transform: scale(1) translate3d(0, 0, 0);
}
.window-enter,
.window-leave-to {
  transform: scale(0.5) translate3d(0, 0, 0);
  opacity: 0;
}
.c-dialog {
  z-index: -100;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  transition-property: z-index;
  transition-duration: 0s;
  transition-timing-function: step-end;
  transition-delay: 0.3s;
}
.c-dialog_opened {
  z-index: 1;
  transition-duration: 0.3s;
  transition-timing-function: step-start;
  transition-delay: 0s;
}
.c-dialog__overlay {
  z-index: 3;
  pointer-events: auto;
  touch-action: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(33,33,33,0.46);
}
.c-dialog__window {
  z-index: 3;
  position: relative;
  flex: 0 0 auto;
  pointer-events: all;
  touch-action: auto;
  max-height: 90%;
  max-width: calc(100% - 48px);
  margin: auto;
  outline: none;
  box-shadow: 0 11px 15px -7px rgba(0,0,0,0.2), 0px 24px 38px 3px rgba(0,0,0,0.14), 0px 9px 46px 8px rgba(0,0,0,0.12);
  border-radius: 4px;
  overflow-y: hidden;
}
.c-dialog__window_z-shaking {
  animation-name: z-shake-dialog;
  animation-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  animation-duration: 0.15s;
}
.c-window {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "h h h h" "s c c r" "s a a r";
  overflow: auto;
  background-color: #fff;
}
.c-window__header {
  grid-area: h;
  min-width: 0;
  max-width: 100%;
}
.c-window__header,
.c-window__title {
  user-select: none;
}
.c-window__status {
  margin-left: 8px;
  color: rgba(var(--theme_contrast_rgb),0.5);
}
.c-window__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 24px;
  font-size: 20px;
  font-weight: 500;
  color: var(--theme_contrast);
  background-color: var(--theme_primary);
}
.c-window__message .c-alert {
  border-radius: 0;
}
.c-window__toolbar {
  border-bottom: 1px solid #e0e0e0;
}
.c-window__sidebar {
  position: relative;
  grid-area: s;
  display: flex;
  background-color: #f5f5f5;
}
.c-window__sidebar:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  background-color: #e0e0e0;
}
.c-window__right-sidebar {
  position: relative;
  grid-area: r;
  display: flex;
  border-left: 1px solid #e0e0e0;
}
.c-window .c-window__right-sidebar.c-window__scroller {
  padding: 24px;
}
.c-window__scroller {
  flex: 1 1 100%;
  overflow-y: auto;
}
.c-window .loading-icon {
  grid-area: c;
  height: 100%;
  z-index: inherit;
  background: rgba(255,255,255,0.6);
}
.c-window .loading-icon svg {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.c-window__content {
  grid-area: c;
  padding: 24px;
}
.c-window__content_no-frame {
  padding: 0;
}
.c-window__actions {
  display: flex;
  grid-area: a;
  min-height: 52px;
  align-items: center;
  justify-content: flex-end;
  padding-left: 16px;
  padding-right: 16px;
  border-top: 1px solid #e0e0e0;
}
.c-window__actions_no-divider {
  border-top-color: transparent;
}
.c-window__actions button {
  margin: 0;
}
.c-window__actions button + button {
  margin-left: 16px;
}
.c-right-sidebar {
  padding-bottom: 16px;
  width: 320px;
}
.c-vertical-tabs {
  padding-top: 16px;
  padding-bottom: 16px;
  width: 220px;
}
.c-vertical-tab {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 64px;
  padding-left: 24px;
  padding-right: 16px;
  overflow: hidden;
  text-decoration: none;
  color: #212121;
  user-select: none;
  transition: background-color 385ms cubic-bezier(0.4, 0, 0.2, 1);
}
a.c-vertical-tab {
  cursor: default;
}
.c-vertical-tab:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 385ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--theme_accent);
}
.c-vertical-tab__content {
  margin-right: 8px;
  flex: 1 1;
  min-width: 0;
}
.c-vertical-tab__step-indicator,
.c-vertical-tab__icon {
  flex: 0 0 auto;
}
.c-vertical-tab__step-indicator {
  margin-right: 8px;
}
.c-vertical-tab__step-indicator:before,
.c-vertical-tab__step-indicator:after {
  content: "";
  position: absolute;
  left: 36px;
  z-index: 0;
  width: 1px;
  height: 50%;
  margin-left: -0.5px;
  background-color: #e0e0e0;
}
.c-vertical-tab__step-indicator:after {
  bottom: -16px;
}
.c-vertical-tab__step-indicator:before {
  top: -16px;
}
.c-vertical-tab__step-indicator.step-indicator-filled:before,
.c-vertical-tab__step-indicator.step-indicator-filled:after {
  background-color: var(--theme_accent);
  opacity: 0.15;
}
.c-vertical-tab:first-of-type .c-vertical-tab__step-indicator:before,
.c-vertical-tab:last-of-type .c-vertical-tab__step-indicator:after {
  content: none;
}
.c-vertical-tab_active {
  background-color: rgba(var(--theme_accent_rgb),0.15);
  color: var(--theme_accent);
  font-weight: 500;
}
.c-vertical-tab_active:before {
  transform: scaleX(1);
}
.c-vertical-tab_active .assistive-text {
  color: rgba(var(--theme_accent_rgb),0.75);
  font-weight: 400;
}
.c-vertical-tab_active .step-indicator {
  background-color: var(--theme_accent);
  color: var(--theme_contrast);
}
.c-vertical-tab_clickable:not(.c-vertical-tab_active):hover {
  background-color: rgba(33,33,33,0.05);
}
a.c-vertical-tab_clickable:not(.c-vertical-tab_active) {
  cursor: pointer;
}
.c-vertical-tab_inactive {
  color: #707070;
}
.c-vertical-tab_inactive .step-indicator {
  background-color: rgba(189,189,189,0.15);
  color: #bdbdbd;
}
.c-vertical-tab_active .c-vertical-tab__step-indicator:after,
.c-vertical-tab_active .c-vertical-tab__step-indicator:before {
  content: none;
}
.step-indicator {
  display: flex;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: rgba(var(--theme_accent_rgb),0.15);
  color: var(--theme_accent);
}
.step-indicator__text,
.step-indicator__icon {
  margin: auto;
}
.step-indicator__icon.c-icon {
  color: currentColor;
}
.step-indicator__text {
  color: currentColor;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/stylus-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./ui/src/components/Markdown.vue?vue&type=style&index=0&id=23a39fd0&lang=stylus& ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.mark-down {
  font-size: 14px;
  line-height: 20px;
}
.mark-down > :first-child {
  margin-top: 0;
}
.mark-down > :last-child {
  margin-bottom: 0;
}
.mark-down h1,
.mark-down h2,
.mark-down h3,
.mark-down h4,
.mark-down h5 {
  font-weight: 500;
}
.mark-down h1 {
  margin-top: 40px;
  margin-bottom: 28px;
  font-size: 24px;
  line-height: 1.1;
}
.mark-down h2 {
  margin-top: 32px;
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 1.2;
}
.mark-down h3 {
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 28px;
  line-height: 24px;
}
.mark-down h4 {
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 24px;
}
.mark-down h5 {
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 24px;
}
.mark-down p {
  white-space: break-spaces;
}
.mark-down blockquote {
  border-left: 2px solid var(--theme_accent);
  padding-left: 1em;
  margin: 20px 20px 20px 18px;
}
.mark-down blockquote > * {
  white-space: pre-wrap;
}
.mark-down blockquote > blockquote {
  white-space: normal;
}
.mark-down p,
.mark-down table,
.mark-down pre,
.mark-down ol,
.mark-down ul {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mark-down hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #e0e0e0;
}
.mark-down ol,
.mark-down ul {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
}
.mark-down ol ol,
.mark-down ul ol,
.mark-down ol ul,
.mark-down ul ul {
  margin-top: 0;
  margin-bottom: 0;
}
.mark-down li {
  margin-left: 1em;
  margin-bottom: 4px;
  margin-top: 4px;
}
.mark-down ul li::marker {
  color: #444;
}
.mark-down img {
  max-width: 100%;
  max-height: 400px;
}
.mark-down code {
  padding-left: 6px;
  padding-right: 6px;
  font-family: "Roboto Mono", monospace;
  background-color: #eee;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 500;
  color: inherit;
  box-shadow: none;
  line-break: anywhere;
}
.mark-down code:after,
.mark-down code:before {
  content: none;
}
.mark-down pre {
  padding: 8px;
  border-radius: 3px;
  background-color: #eee;
}
.mark-down table {
  border-collapse: collapse;
  border: 1px solid #e0e0e0;
  max-width: 100%;
}
.mark-down table td {
  border: 1px solid #e0e0e0;
}
.mark-down table td,
.mark-down table th {
  padding: 8px 12px;
}
.mark-down table th {
  border-width: 1px 1px 2px;
  border-style: solid;
  border-color: #e0e0e0;
}
.mark-down.truncated p {
  white-space: break-spaces;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mark-down_escaped h1,
.mark-down_escaped h2,
.mark-down_escaped h3,
.mark-down_escaped h4,
.mark-down_escaped h5,
.mark-down_escaped h6,
.mark-down_escaped p,
.mark-down_escaped b,
.mark-down_escaped strong,
.mark-down_escaped em,
.mark-down_escaped i,
.mark-down_escaped a,
.mark-down_escaped blockquote,
.mark-down_escaped ul,
.mark-down_escaped ol,
.mark-down_escaped li,
.mark-down_escaped pre,
.mark-down_escaped code {
  display: inline;
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
  color: inherit;
  text-decoration: none;
  background: none;
  border-radius: 0;
  pointer-events: none;
}
.mark-down_escaped img,
.mark-down_escaped table,
.mark-down_escaped hr {
  display: none;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/stylus-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./ui/src/components/PprSummaryDialog.vue?vue&type=style&index=0&id=1e4b1e9d&lang=stylus& ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.ppr-summary-dialog__version {
  display: flex;
  align-items: center;
}
.ppr-summary-dialog__dot {
  margin: 0 4px;
}
.ppr-summary-dialog__divider {
  margin: 24px 0;
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/stylus-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./ui/src/components/cTextarea.vue?vue&type=style&index=0&id=76164368&lang=stylus& ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.c-textarea {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.c-textarea__textarea {
  padding: 8px;
  width: calc(100% - 16px);
  border: 1px solid #d8d8d8;
  background-color: #fbfbfb;
  color: #212121;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  resize: none;
}
.c-textarea__textarea:focus,
.c-textarea__textarea:active {
  outline: none;
}
.c-textarea_resizable .c-textarea__textarea {
  resize: vertical;
}
.c-textarea__label-text {
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 8px 0;
  color: #212121;
}
.c-textarea__counter {
  font-size: 12px;
  line-height: 16px;
  color: #707070;
  text-align: right;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/stylus-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./ui/src/components/UploadFile.vue?vue&type=style&index=0&id=39969cbe&lang=stylus& ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.file-upload--disabled {
  opacity: 0.5;
}
.file-upload--hovered .file-upload__dropzone,
.file-upload:not(.file-upload--with-files) .file-upload__dropzone:hover {
  border-color: var(--theme_accent);
  background-color: rgba(var(--theme_accent_rgb),0.05);
}
.file-upload--hovered .file-upload__dropzone .file-upload__message-text,
.file-upload:not(.file-upload--with-files) .file-upload__dropzone:hover .file-upload__message-text,
.file-upload--hovered .file-upload__dropzone .file-upload__message-text a,
.file-upload:not(.file-upload--with-files) .file-upload__dropzone:hover .file-upload__message-text a {
  color: var(--theme_accent);
}
.file-upload--hovered.file-upload--has-error .file-upload__dropzone,
.file-upload:not(.file-upload--with-files).file-upload--has-error .file-upload__dropzone:hover {
  border-color: #ff6a6a;
  background-color: rgba(255,106,106,0.05);
}
.file-upload--hovered.file-upload--has-error .file-upload__dropzone .file-upload__message-text,
.file-upload:not(.file-upload--with-files).file-upload--has-error .file-upload__dropzone:hover .file-upload__message-text,
.file-upload--hovered.file-upload--has-error .file-upload__dropzone .file-upload__message-text a,
.file-upload:not(.file-upload--with-files).file-upload--has-error .file-upload__dropzone:hover .file-upload__message-text a {
  color: #ff6a6a;
}
.file-upload--with-files .file-upload__dropzone {
  border: none;
}
.file-upload--with-files .file-upload__dropzone.dropzone .dz-message {
  display: none;
}
.file-upload--has-error .file-upload__dropzone {
  border-color: #ff6a6a;
}
.file-upload--has-error .file-upload__message-text,
.file-upload--has-error .file-upload__message-text a {
  color: #ff6a6a;
}
.file-upload__label {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}
.file-upload__error {
  margin-top: 4px;
  font-size: 12px;
  line-height: 16px;
  color: #ff6a6a;
}
.file-upload__message-text {
  margin: auto;
  color: #707070;
}
.file-upload__message-text a {
  color: var(--theme_accent);
  text-decoration: underline;
}
.file-upload__file {
  margin-top: auto;
  margin-bottom: auto;
}
.file-upload__dropzone {
  border: 1px dashed #707070;
  box-sizing: border-box;
  border-radius: 4px;
  min-height: 64px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.file-upload__dropzone.dropzone .dz-message {
  cursor: pointer;
}
.file-upload__dropzone.dropzone .dz-message,
.file-upload__dropzone.dropzone .dz-default {
  flex-grow: 1;
  align-self: stretch;
  display: flex;
}
.file-upload__dropzone.dropzone .dz-remove {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
}
.file-upload__dropzone.dropzone .dz-remove i {
  margin-left: 12px;
  font-size: 18px;
  vertical-align: middle;
}
.file-upload__dropzone.dropzone .dz-details span {
  vertical-align: middle;
}
.file-upload__dropzone.dropzone .dz-size {
  font-size: 12px;
  color: #707070;
}
.file-upload__dropzone.dropzone .dz-size strong {
  font-weight: normal;
}
.file-preview {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  min-height: 64px;
  padding: 8px 12px;
  background-color: #f5f5f5;
  color: #212121;
  border-radius: 4px;
  cursor: default;
}
.file-preview__details {
  flex: 1 1 100%;
  min-width: 0;
}
.file-preview__file-name {
  color: #212121;
  font-size: 14px;
  line-height: 20px;
}
.file-preview__file-size strong {
  font-weight: normal;
}
.file-preview__file-icon,
.file-preview__action-icon {
  flex: 0 0 auto;
  color: #666;
}
.file-preview__file-icon {
  margin-right: 8px;
}
.file-preview__file-icon i {
  vertical-align: top;
  color: inherit;
}
.file-preview__action-icon {
  margin-left: 32px;
  font-size: 18px;
  vertical-align: top;
  cursor: pointer;
}

/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/stylus-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./ui/src/components/PprUploadDialog.vue?vue&type=style&index=0&id=7045d12c&lang=stylus& ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.ppr-upload-dialog__upload {
  margin-bottom: 24px;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/stylus-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./ui/src/components/PprTab.vue?vue&type=style&index=0&id=040f9ee4&lang=stylus& ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.ppr-tab .ppr-version {
  display: flex;
  align-items: center;
}
.ppr-tab .ppr-version :first-child {
  margin-right: 4px;
}
.ppr-tab .ppr-status {
  display: flex;
  align-items: center;
}
.ppr-tab .ppr-status__dot {
  margin: 0 8px;
}
.ppr-tab .ppr-table__upload-btn {
  margin-right: 12px;
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/stylus-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./ui/src/components/cChip.vue?vue&type=style&index=0&id=cf32a144&lang=stylus& ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.c-chip {
  --c-chip-color: 66, 66, 66;
  --c-chip-text-color: var(--c-chip-color);
  --c-chip-icon-color: var(--c-chip-color);
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  box-sizing: border-box;
  height: 24px;
  padding-right: 4px;
  padding-left: 8px;
  border-radius: 12px;
  vertical-align: middle;
}
.c-chip__text {
  overflow: hidden;
  flex: 1 1 auto;
  min-width: 0;
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  color: rgb(var(--c-chip-text-color));
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 4px;
  margin-right: 8px;
}
.c-chip__icon {
  width: 16px;
  height: 16px;
  font-size: 16px;
}
.c-chip__icon.c-icon,
.c-chip__icon.v-icon {
  color: rgb(var(--c-chip-icon-color));
}
.c-chip__close-icon {
  margin: 0;
  color: rgb(var(--c-chip-text-color)) !important;
  width: 14px;
  height: 14px;
}
.c-chip__close-icon:hover {
  background-color: rgba(var(--c-chip-icon-color),0.15);
  border-radius: 50%;
}
.c-chip_small {
  height: 16px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 8px;
}
.c-chip_small .c-chip__text {
  font-size: 11px;
  font-weight: 500;
  line-height: 12px;
  margin-left: 4px;
  margin-right: 4px;
}
.c-chip_small .c-chip__icon {
  width: 12px;
  height: 12px;
  font-size: 12px;
}
.c-chip_small .c-chip__close-icon {
  width: 10px;
  height: 10px;
}
.c-chip_solid {
  background-color: rgb(var(--c-chip-color));
  --c-chip-text-color: 255, 255, 255;
  --c-chip-icon-color: 255, 255, 255;
}
.c-chip_outline {
  border: 1px solid rgb(var(--c-chip-color));
}
.c-chip_pale {
  background-color: rgba(var(--c-chip-color),0.1);
}
.c-chip_non-rounded {
  border-radius: 2px;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/stylus-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./ui/src/pages/DeploymentDetails.vue?vue&type=style&index=0&id=2ceadcfa&lang=stylus& ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.deployment-details .info-container {
  display: grid;
  grid-template-columns: minmax(auto, 376px) minmax(auto, 376px) minmax(auto, 376px);
  grid-column-gap: 48px;
  margin-bottom: 32px;
}

