/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/stylus-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./ui/src/components/GridItem.vue?vue&type=style&index=0&id=292fb55a&lang=stylus& ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.item-row {
  display: grid;
  grid-template-columns: var(--grid-item-first-col, 60px) 1fr;
  grid-column-gap: 16px;
  align-items: start;
}
.item-row + .item-row {
  margin-top: var(--grid-item-row-offset, 12px);
}
.item-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #212121;
}

/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/stylus-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./ui/src/components/ErrorDialog.vue?vue&type=style&index=0&id=2aba8f9f&lang=stylus& ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.error-details__header {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}
.error-details__message {
  font-family: 'Roboto Mono';
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/stylus-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./ui/src/components/RequestTaskInfoDialog.vue?vue&type=style&index=0&id=c08f104e&lang=stylus& ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.request-task-info-dialog__divider {
  margin: 24px 0;
}

/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/stylus-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./ui/src/components/RequestTasksTab.vue?vue&type=style&index=0&id=29d0f6f6&lang=stylus& ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.request-tasks-tab__status {
  display: flex;
  align-items: center;
}
.request-tasks-tab__dot {
  margin: 0 8px;
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/stylus-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./ui/src/pages/RequestDetails.vue?vue&type=style&index=0&id=54fb2a74&lang=stylus& ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.request-details .info-container {
  display: grid;
  grid-template-columns: minmax(auto, 376px) minmax(auto, 376px) minmax(auto, 376px);
  grid-column-gap: 48px;
  margin-bottom: 32px;
}
.request-details__delegate,
.request-details__ppr {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.request-details__delegate :first-child,
.request-details__ppr :first-child {
  margin-right: 4px;
}
.request-details__dot {
  margin: 0 4px;
}

