@import 'common'

.empty-data {
  text-align: center;
  margin: 40px 0;

  &__media.icon {
    color: $theme-black-4;
  }

  &__text {
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    color: $theme-black-3;
  }
}
