.recaptcha-position {
  left: calc(100vw / 4 * 3 - 200px) !important;
  top: -80px !important;
  margin: auto 0 !important;
}

.recaptcha-position-parent {
  left: 0 !important;
}

.grecaptcha-badge {
  box-shadow: none !important;
  border-radius: none !important;
}
