// Theme
$primary = var(--theme_primary);
$primary-rgb = var(--theme_primary_rgb);
$accent = var(--theme_accent);
$accent-rgb = var(--theme_accent_rgb);
$contrast = var(--theme_contrast);
$contrast-rgb = var(--theme_contrast_rgb);
$contrast-accent = var(--theme_contrast);


// Layout
$module = 4px;
$edge-gap = $module * 6;
$theme-content-min-width = 1200px;
$tab-border-width = 3px;

$conversation-width = 340px;
$toolbar-height = 64;

// Font
$general-font-size = 14px;
$general-line-height = 20px;

$theme-font-family = Roboto, "Helvetica Neue", sans-serif;

$theme-font-size = 16;
$theme-font-size-h1 = 24;
$theme-line-height-h1 = 28;
$theme-font-size-h2 = 20;
$theme-line-height-h2 = 24;
$theme-font-size-smaller = 14;
$theme-font-size-small = 12;

$theme-space-1 = 64;
$theme-space-2 = 24;
$theme-space-3 = 16;
$theme-space-4 = 8;

// Colors
$base-text-color = #212121;
$assistive-text-color = #707070;
$theme-grey-1 = #666666;
$theme-light-1 = #e0e0e0;
$theme-black = rgba(0, 0, 0, 0.97);
$theme-black-2 = rgba(0, 0, 0, 0.67);
$theme-black-3 = rgba(0, 0, 0, 0.57);
$theme-black-4 = rgba(0, 0, 0, 0.37);
$theme-black-5 = rgba(0, 0, 0, .5);
$theme-hover-accent = rgba(0, 0, 0, 0.04);
$theme-white = rgba(255, 255, 255, 0.97);
$theme-white-2 = rgba(255, 255, 255, 0.67);
$theme-white-3 = rgba(255, 255, 255, 0.57);
$theme-white-4 = rgba(255, 255, 255, 0.85);
$theme-primary-color = #2196f3;
$theme-icon-common-color = rgba(0, 0, 0, 0.87);
$theme-border-color = rgba(0, 0, 0, 0.12);
$theme-controls-background = rgba(0, 0, 0, 0.01);
$theme-empty-state-text-color = rgba(0, 0, 0, 0.37);
$white = white;
$white-smoke = #f5f5f5;

$layout-padding = 16px;
$layout-xs = 600px;
$layout-sm = 960px;
$layout-md = 1280px;
$layout-lg = 1920px;
$font-weight-light = 300;
$font-weight-normal = 400;
$font-weight-bold = 500;

$sidebar-width-small = 232px;
$sidebar-width-medium = 320px;

// red
$red = #f44336;
$pink = #d21a44;
$nice-red = #FF6A6A;

// green
$green = #0bb071;
$light-green = #00c853;
$olive = #8bc34a;

// grey
$dark-grey = #424242;
$mid-grey = #bdbdbd;
$light-grey = #e0e0e0;

// orange
$orange = #f5871f;
$orange-dimmed = #F2994A;
$orange-tenn = #D65900;

// states
$success = $light-green;
$failed = $pink;
$warning = $red;

// blue
$dark-blue = #1565c0;
$light-blue = #2C98F0;

// yellow
$nice-yellow = #F2C94C;
